<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="production-settings.ZPM">
    <Module>
      <Name>production-settings</Name>
      <Version>1.0.0</Version>
      <Description>Helper module to ease Interoperability production settings</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="shvarov.i14y.Settings.CLS"/>
      <UnitTest Name="/tests" Package="Test.shvarov.i14y" Phase="test"/>

    </Module>
  </Document>
</Export>